<section class="belief">
  <div class="container belief__container">
    <div class="swiper belief__slider js-belief-slider">
      <div class="swiper-wrapper">
        <!-- slide 1 -->
        <div class="swiper-slide belief__card">
          <img
            class="belief__card-img"
            src="./assets/image/belief-1.png"
            width="582"
            height="332"
            alt=""
          />
        </div>

        <!-- КРУГЛЫЙ ЭЛЕМЕНТ, привязанный к первому слайду -->
        <div class="belief__divider" aria-hidden="true">
          <span class="belief__divider-icon">‹›</span>
        </div>

        <!-- slide 2 -->
        <div class="swiper-slide belief__card">
          <img
            class="belief__card-img"
            src="./assets/image/belief-2.png"
            width="582"
            height="332"
            alt=""
          />
          <div class="belief__card-body">
            <h3 class="belief__card-title heading-h5">What we believe in</h3>
            <p class="belief__card-text text-p-medium">
              Over the years at Sans, we’ve put a lot of thought into what it is
              that makes us who we are. The qualities that unite us, that make
              us such an effective team, and...
            </p>
            <a href="" class="belief__card-link">See Details</a>
          </div>
        </div>

        <!-- slide 3 -->
        <div class="swiper-slide belief__card">
          <img
            class="belief__card-img"
            src="./assets/image/belief-3.png"
            width="582"
            height="332"
            alt=""
          />
        </div>

        <!-- slide 1 -->
        <div class="swiper-slide belief__card">
          <img
            class="belief__card-img"
            src="./assets/image/belief-1.png"
            width="582"
            height="332"
            alt=""
          />
        </div>

        <!-- КРУГЛЫЙ ЭЛЕМЕНТ, привязанный к первому слайду -->
        <div class="belief__divider" aria-hidden="true">
          <span class="belief__divider-icon">‹›</span>
        </div>

        <!-- slide 2 -->
        <div class="swiper-slide belief__card">
          <img
            class="belief__card-img"
            src="./assets/image/belief-2.png"
            width="582"
            height="332"
            alt=""
          />
          <div class="belief__card-body">
            <h3 class="belief__card-title heading-h5">What we believe in</h3>
            <p class="belief__card-text text-p-medium">
              Over the years at Sans, we’ve put a lot of thought into what it is
              that makes us who we are. The qualities that unite us, that make
              us such an effective team, and...
            </p>
            <a href="" class="belief__card-link">See Details</a>
          </div>
        </div>

        <!-- slide 3 -->
        <div class="swiper-slide belief__card">
          <img
            class="belief__card-img"
            src="./assets/image/belief-3.png"
            width="582"
            height="332"
            alt=""
          />
        </div>
      </div>
      <!-- swiper-wrapper -->
    </div>
    <!-- swiper -->
  </div>
  <div class="belief__info">
    <div class="container belief__info-container">
      <h3 class="belief__info-title heading-h2">
        Powerful ideas &amp; sales acceleration
      </h3>

      <p class="belief__info-text text-p-large">
        We are a software development firm specializing in digital products. We
        build beautiful, functional and cross-platform solutions that are
        accessible to all.
      </p>
    </div>
  </div>
</section>
