<section class="blog-grid">
  <div class="container">
    <div class="blog-grid__inner">
      <article class="blog-card">
        <img
          class="blog__card-img2"
          src="./assets/image/blog-card-img1.jpg"
          width="584"
          height="751"
          alt="AWS services"
        />
        <div class="blog-card__content">
          <h3 class="blog-card__title heading-h3">
            <a href="detailblog.html" class="blog-card__link">
              How we perform long-running tasks using AWS services
            </a>
          </h3>
          <p class="blog-card__text text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all
            in one. While you are probably familiar with all of these, they are
            usually entirely separate tools.
          </p>
        </div>
      </article>

      <article class="blog-card">
        <img
          class="blog__card-img"
          src="./assets/image/blog-card-img2.jpg"
          width="584"
          height="507"
          alt="How to ask when doing User Research"
        />
        <div class="blog-card__content">
          <h3 class="blog-card__title heading-h3">
            <a href="detailblog.html" class="blog-card__link">
              How to ask when doing User Research
            </a>
          </h3>
          <p class="blog-card__text text-p-medium">
            Bro, the story is that you want to make an application for buying
            and selling goods on the market. During user research, what do you
            think you will ask people?
          </p>
        </div>
      </article>

      <article class="blog-card">
        <img
          class="blog__card-img"
          src="./assets/image/blog-card-img3.jpg"
          width="584"
          height="507"
          alt="How to ask when doing User Research"
        />
        <div class="blog-card__content">
          <h3 class="blog-card__title heading-h3">
            <a href="detailblog.html" class="blog-card__link">
              Layout Exploration — Simple exercise but big effect
            </a>
          </h3>
          <p class="blog-card__text text-p-medium">
            Make alternatives or other options for the design we are making. For
            example, we are creating a website design. Then there is the
            testimonial section.
          </p>
        </div>
      </article>

      <article class="blog-card">
        <img
          class="blog__card-img2"
          src="./assets/image/blog-card-img4.jpg"
          width="584"
          height="751"
          alt="Webflow Coding"
        />
        <div class="blog-card__content">
          <h3 class="blog-card__title heading-h3">
            <a href="detailblog.html" class="blog-card__link">
              Webflow Break the Coding Barrier
            </a>
          </h3>
          <p class="blog-card__text text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all
            in one. While you are probably familiar with all of these, they are
            usually entirely separate tools.
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
