<section class="blog-hero">
  <h1 class="hidden">
    Activity & Updates – Our biggest challenge is making sure we're always
    designing and building products that will help you run your business better
  </h1>

  <div class="container">
    <h2 class="blog-hero__title heading-h1">Activity & Updates</h2>
    <div class="blog-hero__container">
      <div class="blog-hero__left">
        <p class="blog-hero__text text-p-subtitle">
          Our biggest challenge is making sure we’re always designing and
          building products that will help you run your business better.
        </p>
      </div>
    </div>
  </div>
</section>
